[Unit]
Description=cloud9

[Service]
ExecStart=node server.js -p 8181 -l 0.0.0.0 -a admin:admin
Restart=always
User=cloud9
Group=cloud9
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
